[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,cjs,mjs,jsx,css,pcss,json,json5,html,txt,md}]
charset = utf-8
indent_style = space
indent_size = 4

# Matches the exact files for package.json and package-lock.json
[{package.json,package-lock.json}]
indent_style = space
indent_size = 2
